@charset "UTF-8";

p {
	font-size: large;
}

body {
	background-color: lightgray;
	margin: 0px;
	padding: 0px;
}

hr.blackHR {
	background-color: black;
	width: 65%;
	height: 3px;
}

hr.whiteHR {
	background-color: white;
	width: 65%;
	height: 5px;
	bottom: 22.5px;
	position: relative;
}

p.whitetitle {
	font-size: 250%;
	color: white;
	font-weight: bold;
	text-align: right;
}

div.blackBG {
	background-color: black;
	margin-top: -40px;
}

p.dates {
	color: white;
	text-align: center;
	font-size: 250%;
	font-weight: bold;
}

time {
	background-color: gray;
	letter-spacing: 5px;
	padding: 5px;
}

h2.left {
	text-align: left;
	margin-left: 17.5%;
	margin-right: 20%;
}

p.longtext {
	margin-left: 17.5%;
	margin-right: 17.5%;
}

strong {
	font-variant: small-caps;
}

.dotted {
	font-size: x-large;
	border-bottom: 1px dotted red;
}

.whiteBG {
	color: red;
	background-color: white;
}

.highlight{
	color: blue;
}